<div class="container mt-5">
  <%= form_with(model: cliente, local: true) do |form| %>
    <% if cliente.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">
          <%= pluralize(cliente.errors.count, "erro") %> impediram o salvamento:
        </h4>
        <ul class="mb-0">
          <% cliente.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :nome, class: "form-label" %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :telefone, class: "form-label" %>
      <%= form.text_field :telefone, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :endereco, class: "form-label" %>
      <%= form.text_field :endereco, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div>
      <%= form.submit class: "btn btn-success" %>
    </div>
  <% end %>
</div>
