<%= form_with(model: divida, class: "mt-3") do |form| %>
  <% if divida.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(divida.errors.count, "erro") %> impediram a dívida de ser salva:</h4>
      <ul>
        <% divida.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :cliente_id, "Cliente", class: "form-label" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nome, { prompt: "Selecione um cliente" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :valor, class: "form-label" %>
    <%= form.number_field :valor, class: "form-control", step: "0.01" %>
  </div>

  <div class="mb-3">
    <%= form.label :data_vencimento, "Data de Vencimento", class: "form-label" %>
    <%= form.date_field :data_vencimento, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, [['Pendente', 'pendente'], ['Paga', 'paga']], {}, class: "form-select" %>
  </div>

  <div class="text-center">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
