<div id="<%= dom_id compra %>">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Cliente:</strong>
      <%= compra.cliente.nome if compra.cliente.present? %>
    </li>

    <li class="list-group-item">
      <strong>Data:</strong>
      <%= l(compra.data, format: :long) %>
    </li>

    <li class="list-group-item">
      <strong>Descrição:</strong>
      <%= compra.descricao %>
    </li>

    <li class="list-group-item">
      <strong>Valor:</strong>
      R$ <%= number_to_currency(compra.valor, unit: "", separator: ",", delimiter: ".") %>
    </li>
  </ul>
</div>
