<div id="<%= dom_id compra %>">
  <p>
    <strong>Cliente:</strong>
    <%= compra.cliente_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= compra.data %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= compra.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= compra.valor %>
  </p>

</div>
