<%= form_with(model: compra, local: true) do |form| %>
  <% if compra.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(compra.errors.count, "erro") %> impediram esta compra de ser salva:</h4>
      <ul>
        <% compra.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :cliente_id, "Cliente", class: "form-label" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nome, prompt: "Selecione um cliente", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :data, class: "form-label" %>
    <%= form.date_field :data, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :descricao, class: "form-label" %>
    <%= form.text_field :descricao, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :valor, class: "form-label" %>
    <%= form.number_field :valor, step: 0.01, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
