<div id="<%= dom_id encomenda %>">
  <p>
    <strong>Cliente:</strong>
    <%= encomenda.cliente_id %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= encomenda.descricao %>
  </p>

  <p>
    <strong>Data prevista:</strong>
    <%= encomenda.data_prevista %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= encomenda.status %>
  </p>

</div>
