<%= form_with(model: encomenda, local: true) do |form| %>
  <% if encomenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encomenda.errors.count, "erro") %> proibiu essa encomenda de ser salva:</h2>
      <ul>
        <% encomenda.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :cliente_id, "Cliente" %>
    <%= form.collection_select :cliente_id, Cliente.all, :id, :nome, prompt: "Selecione um cliente", class: "form-select" %>
  </div>

  <hr>

  <h5>Produtos</h5>
  <div id="produtos-container">
    <%= form.fields_for :encomenda_produtos do |ep_form| %>
      <%= render 'produto_fields', f: ep_form %>
    <% end %>
  </div>

  <div class="mb-3">
    <button type="button" class="btn btn-outline-primary" id="add-produto">Adicionar Produto</button>
  </div>

  <hr>
  <div class="mb-3">
    <label><strong>Valor Total:</strong></label>
    <span id="valor-total">R$ 0,00</span>
  </div>

  <%= form.submit class: "btn btn-success" %>
<% end %>

<%= javascript_include_tag "encomendas" %>
